
<div id="<%= dom_id recipe %>">
  <div class="d-flex justify-content-center">
    <h1>
      <%= recipe.name %>
    </h1>
  </div>

  <div class="toggle_public">
    <% if user_signed_in? && current_user.id == recipe.user_id %>
      <div class="d-flex justify-content-end form-check form-switch">
        <%= form_for recipe, url: toggle_public_recipe_path(recipe.id), method: :patch do |form| %>
          <label class="form-check-label mx-5" for="<%= dom_id(recipe, :public) %>">Public</label>
          <div class="mx-2"> <!-- Add margin between label and switch -->
            <%= form.check_box :public, class: "form-check-input", id: dom_id(recipe, :public), onchange: "this.form.submit()" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <h2>Steps:</h2>
  <% @recipe.steps.each do |step| %>
    <p><%= step.description %></p>
  <% end %>


</div>
